{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row justify-content-center">
        <h3 style="color: rgb(0, 0, 0); text-align: center;">Welcome, <span class="text-capitalize">{{ current_user.name
                }}</span></h3>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-sm-8" style="background-color: rgba(0, 123, 255, 0.1); border-radius: 18px; padding: 20px;">
            <div class="row">
                <!-- User Information Cards -->
                <div class="col-sm-6 mb-3">
                    <div class="p-3" style="background-color: rgba(0, 123, 255, 0.2); border-radius: 10px;">
                        <h5 class="text-center">Name</h5>
                        <p class="text-center">{{ current_user.name }}</p>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="p-3" style="background-color: rgba(0, 123, 255, 0.2); border-radius: 10px;">
                        <h5 class="text-center">Email</h5>
                        <p class="text-center">{{ current_user.email }}</p>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="p-3" style="background-color: rgba(0, 123, 255, 0.2); border-radius: 10px;">
                        <h5 class="text-center">Address</h5>
                        <p class="text-center">{{ current_user.address }}</p>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="p-3" style="background-color: rgba(0, 123, 255, 0.2); border-radius: 10px;">
                        <h5 class="text-center">Postal Code</h5>
                        <p class="text-center">{{ current_user.postal_code }}</p>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="p-3" style="background-color: rgba(0, 123, 255, 0.2); border-radius: 10px;">
                        <h5 class="text-center">NIF</h5>
                        <p class="text-center">{{ current_user.nif }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        consulta x>
    </div>
    if current_user.customer_id == 6
    <div class="row justify-content-center mt-4">
        consulta x>
    </div>
    <div class="row justify-content-center mt-4">
        consulta x>
    </div>
</div>

{% endblock %}